@charset "UTF-8";

main {
    background-color: rgba(75, 49, 49, 0.986);
    width: 700px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(1, 38, 38, 0.663);
}

body{
    background-color: rgba(44, 39, 39, 0.986);
}